# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Firebase
firebase-debug.log
.firebase/
